<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aode.bn.mapper.NewsMapper" >
    <!--定义news返回值，将user映射到news返回值中-->
    <resultMap id="NewsResultMap" type="News">
        <id column="id" property="id"/>
        <result column="author_id" property="authorId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="postTime" property="postTime"/>
        <result column="replyCount" property="replyCount"/>
        <result column="status" property="status"/>
        <association property="author" javaType="User">
            <id column="author_id" property="id"/>
            <result column="name" property="name"/>
            <result column="password" property="password"/>
        </association>
    </resultMap>
    <insert id="addNews" parameterType="News">
        INSERT INTO news(title,content,postTime,type,author_id)
        VALUE (#{title},#{content},#{postTime},#{type},#{author.id})
    </insert>
    <select id="findAllNews" resultMap="NewsResultMap">
        SELECT * FROM news ;
    </select>
    <select id="findNewsById" parameterType="java.lang.Integer" resultMap="NewsResultMap">
        SELECT * FROM news WHERE id = #{id};
    </select>
    <delete id="deleteNews" parameterType="java.lang.Integer">
        DELETE FROM news WHERE id = #{id}
    </delete>
</mapper>